---
import Layout from "../layouts/layout.astro"
import Article from "../components/article.astro"
import Header from "../components/header.astro"

const posts = await Astro.glob("./articles/*/ca.md")

const randomPost = posts[Math.floor(Math.random() * posts.length)]
---

<Layout title="Pàtria | Història">
	<Header />
	<main class="p-[20px] max-w-[1000px]">
		<section id="llegeix">
			<div class="w-full">
				
				<a href={randomPost.url}  class="flex gap-[20px] items-center justify-center bg-zinc-800 shadow-lg shadow-zinc-600 rounded-[15px] h-[300px]">
					<div class="h-full mt-0 flex">
						<img data-src={randomPost.frontmatter.thumbnail} alt=`Article de Guerra de Successió` class="cursor-pointer h-full mt-0 rounded-r-none" />
					</div>
					<div class="mt-[10px] p-[16px] h-full">
						<h2 class="font-bold text-[20px] mt-[10px] text-start">
							{randomPost.frontmatter.title}
						</h2>
						<p class="mt-[10px] text-[20px] text-gray-400 max-w-[]">
							{randomPost.frontmatter.introduction} 	
						</p>
					</div>
				</a>
			</div>
			<div class="grid grid-cols-3 max-md:grid-cols-2 max-sm:grid-cols-1 gap-[20px] mt-[40px]">
				{
					posts.map((post) => {
						return (
							<Article
								title={post.frontmatter.title}
								desc={post.frontmatter.introduction}
								url={post.url!}
								img={post.frontmatter.thumbnail}
							/>
						)
					})
				}
			</div>
			<h1 class="py-[20px] text-[30px] font-bold">Desmentit!</h1>
			<div class="grid grid-cols-3 max-md:grid-cols-2 max-sm:grid-cols-1 gap-[20px]">
				<Article
					title="Mite: Catalunya mai fou una nació"
					desc=`N'hi ha el mite de que Catalunya mai ha estat una nació i sempre ha estat subjecte a Espanya o a Castella. Això no és cert.`
					url="/desmentit/catalunya-mai-fou-una-nacio/ca"
					img="https://i.ibb.co/ZzHDsLx/catalunya-nacio.webp"
				/>
			</div>
		</section>
	</main>
</Layout>
