---
interface Props {
	img: string
	title: string
	desc: string
	url: string
}

const { img, title, desc, url } = Astro.props
---

<a href={url} class="mt-0">
	<div>
		<img data-src=`${img}` alt=`Article de ${title}` class="rounded-[7px] aspect-square cursor-pointer" />
	</div>
	<div>
		<h2 class="font-bold text-[20px] mt-[10px] text-start">
			{title}
		</h2>
		<p class="mt-[10px] text-[14px] dark:text-gray-400 text-gray-600">
			{desc}
		</p>
	</div>
</a>
