---
import Nav from "../components/nav.astro"
import Twitter from "../components/twitter.astro"
import { ViewTransitions } from "astro:transitions"
import "../styles/index.css"

const { thumbnail, title, introduction, langs, language } = Astro.props.frontmatter

const languages: any = [
	{
		ca: {
			name: "ca",
			fullName: "Català",
		},
		en: {
			name: "en",
			fullName: "English",
		},
	},
]
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/patria.webp" />
		<title>{title}</title>
		<link rel="preconnect" href="https://erixweb.github.io" />
		<link rel="preload" as="font" href="/fonts/Onest-Medium.woff2" crossorigin="" />
		<link rel="preload" as="font" href="/fonts/Onest-Bold.woff2" crossorigin="" />
		<script>
			const Lazy = (target: any) => {
				const io = new IntersectionObserver((entries, observer) => {
					entries.forEach((entry) => {
						let elementName = entry.target.nodeName.toLocaleLowerCase()
						if (entry.isIntersecting && elementName === "img") {
							const img = entry.target
							img.setAttribute("src", img.getAttribute("data-src")!)
							img.classList.add("fade")
							observer.disconnect()
						}
					})
				})
				io.observe(target)
			}
			document.addEventListener("astro:page-load", () => {
				const images = document.querySelectorAll("img")
				images.forEach(Lazy)
			})
		</script>
		<ViewTransitions />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@patriacat_" />
		<meta name="twitter:title" content=`${title}` />
		<meta name="twitter:description" content=`${introduction}` />
		<meta name="twitter:image" content=`${thumbnail}` />
	</head>
	<body
		class="m-auto min-h-[100vh] w-full font-[Onest] px-[15px] dark:bg-zinc-900 dark:text-white bg-slate-200"
	>
		<Nav />
		<header class="w-full mt-[120px]">
			<img
				data-src={thumbnail}
				alt={title}
				class="rounded-[5px] shadow-xl max-h-[550px] w-full max-w-[1200px] object-cover"
				style="aspect-ratio: 150/97;"
			/>
			<div class="p-[20px] w-full max-w-[750px]">
				<a
					class="bg-sky-600 px-[25px] py-[6px] rounded-[10px] text-white font-bold flex w-fit gap-[10px] ml-0"
					href=`https://twitter.com/intent/post?text=Vols informar-te de la història de Catalunya?%0ALlegeix ${title} en https://recordem.vercel.app%0A%0A%23recordemho`
					target="_blank"
				>
					<Twitter />
					<span>Comparteix</span>
				</a>
				<h1 class="mt-[60px]">
					{title}
				</h1>
				<p>
					{introduction}
				</p>
				<select
					name="lang"
					id="lang"
					class="dark:bg-slate-700 bg-stone-100 py-[8px] px-[20px] rounded-full"
					onchange={"window.location.href = `${this.value}`"}
				>
					<option value={language}>{languages[0][language].fullName}</option>
					{
						langs.map((lang: string) => {
							return lang !== language ? (
								<option value={lang}>{languages[0][lang].fullName}</option>
							) : (
								""
							)
						})
					}
				</select>
			</div>
		</header>
		<main class="p-[20px] max-w-[750px]">
			<slot />
		</main>
		<style is:global>
			h1 {
				margin-top: 20px;
				font-size: 35px;
				font-weight: bold;
				text-align: center;
			}
			h2 {
				font-size: 24px;
				font-weight: bold;
				text-align: center;
			}
			p {
				margin-top: 20px;
				margin-bottom: 20px;
			}
			em {
				color: rgb(255, 233, 87);
			}
			strong {
				font-weight: 500;
				color: rgb(169, 190, 227);
			}
			main img {
				object-fit: cover;
				cursor: crosshair;
				height: auto;
				margin-top: 20px;
				margin-bottom: 20px;
				border-radius: 5px;
				--tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
				--tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
					0 8px 10px -6px var(--tw-shadow-color);
				box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
					var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
			}
			main blockquote {
				font-style: italic;
				color: gray;
			}
			@media (prefers-color-scheme: light) {
				em {
					color: rgb(255, 102, 0);
				}
				strong {
					font-weight: 500;
					color: rgb(34, 115, 255);
				}
			}
		</style>
	</body>
</html>
