---
import Nav from "../components/nav.astro"
import { ViewTransitions } from "astro:transitions"
import "../styles/index.css"

const { thumbnail, title, introduction } = Astro.props.frontmatter
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preload" as="font" href="/fonts/Onest-Medium.woff2" crossorigin="" />
		<link rel="preload" as="font" href="/fonts/Onest-Bold.woff2" crossorigin="" />
		<script>
			const Lazy = (target: any) => {
				const io = new IntersectionObserver((entries, observer) => {
					entries.forEach((entry) => {
						let elementName = entry.target.nodeName.toLocaleLowerCase()
						if (entry.isIntersecting && elementName === "img") {
							const img = entry.target
							img.setAttribute("src", img.getAttribute("data-src")!)
							img.classList.add("fade")
							observer.disconnect()
						}
					})
				})
				io.observe(target)
			}
			document.addEventListener("astro:page-load", () => {
				const images = document.querySelectorAll("img")
				images.forEach(Lazy)
			})
		</script>
		<ViewTransitions />
	</head>
	<body class="m-auto min-h-[100vh] w-full font-[Onest] px-[15px]">
		<Nav />
		<header class="w-full mt-[120px]">
			<img
				data-src={thumbnail}
				alt={title}
				class="rounded-[5px] shadow-xl max-h-[550px] w-full max-w-[1200px] object-cover"
				style="aspect-ratio: 150/97;"
			/>
			<div class="p-[20px] w-full max-w-[750px]">
				<h1 class="mt-[60px]">
					{title}
				</h1>
				<p>
					{introduction}
				</p>
			</div>
		</header>
		<main class="p-[20px] max-w-[750px]">
			<slot />
		</main>
		<style is:global>
			h1 {
				margin-top: 20px;
				font-size: 35px;
				font-weight: bold;
				text-align: center;
			}
			h2 {
				font-size: 24px;
				font-weight: bold;
				text-align: center;
			}
			p {
				margin-top: 20px;
				margin-bottom: 20px;
			}
			main img {
				object-fit: cover;
				cursor: crosshair;
				height: auto;
				margin-top: 20px;
				margin-bottom: 20px;
				border-radius: 5px;
				--tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
				--tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
					0 8px 10px -6px var(--tw-shadow-color);
				box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
					var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
			}
		</style>
	</body>
</html>
